<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/resources/icon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/resources/icon.ico" type="image/x-icon" />
    <title>INICIO - Together</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            color: #333;
        }

        header {
            background-color: #009688;
            color: white;
            padding: 20px;
            text-align: center;
        }

        #base {
            text-align: center;
            padding-top: 20px;
        }

        img {
            width: 30%; /* Ajusté el ancho de la imagen al 30% */
            max-width: 100%;
            height: auto;
            margin-bottom: 20px;
        }

        .action-button {
            display: inline-block;
            padding: 15px 30px;
            margin: 10px;
            background-color: #009688;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s;
            cursor: pointer;
            font-size: 18px;
            border: none;
        }

        .action-button:hover {
            background-color: #00796b;
        }

        .logout-button {
            display: inline-block;
            padding: 10px 20px;
            margin: 5px;
            background-color: #00796b;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s;
            cursor: pointer;
            font-size: 12px;
            border: none;
        }

        .logout-button:hover {
            background-color: #008777;
        }

        footer {
            text-align: center;
            padding: 20px;
            background-color: #009688;
            color: white;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

        /* Estilos adicionales para los botones */
        .right-top {
            position: absolute;
            top: 20px;
            right: 20px;
        }

        /* Estilos para alinear los botones en línea */
        .button-container {
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
    <header>
        <h1>Bienvenido a Together</h1>
        <div id="user-info">
            <p id="current-username">Current Username: <%= user.name %></p>
            <button class="logout-button" id="logout-button" onclick="logoutUser()">Logout</button>
          </div>
    </header>
    <div id="base">
        <!-- Imagen en la parte superior -->
        <img src="/resources/TOGETHER.png" alt="Descripción de la imagen">
      
        <!-- Botones restantes en línea -->
        <div class="button-container">
            <button class="action-button" onclick="location.href='/insertar-anuncio'">INSERTAR ANUNCIO</button>
            <button class="action-button" onclick="location.href='/buscar-companeros'">BUSCAR COMPAÑEROS</button>
            <button class="action-button" onclick="location.href='/buscar-pisos'">BUSCAR PISOS</button>
        </div>  
    </div>

    <script>

        async function logoutUser() {

            try {
                console.log('1')
                const response = await fetch('logout', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
    
                if (response.ok) {
                    window.location.href = '/';
                } else {
                    console.error('Error al salir de sesion')
                }
            } catch {
                console.error('Error al hacer fetch')
            }
            
        }

    </script>

</body>
</html>

